<div class="ui left demo vertical inverted sidebar labeled icon menu" style='margin : 0'>
  <% if (sess == null) { %>
  <a class="item" href='javascript:showLoginForm()'>
    <i class="sign in icon"></i>
    로그인
  </a>
  <% } else if (sess != null) {%>
  <a class="item" href='/login/logout'>
    <i class="sign in icon"></i>
    로그아웃
  </a>
  <% } %>
  <a class="item" href='/quiz'>
    <i class="block layout icon"></i>
    Quiz
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>

<div class="ui inverted menu fixed" style='margin-top : 0px'>
  <a class="item" href='javascript:slideBar()'>
      <i class='sidebar icon'></i>
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>

<div class="ui basic modal">
  <div class="ui icon header">
  </div>
  <div class="content">
    <form class="ui form" id='loginFrm' method='post' action='/login'>
  <div class="field">
    <label style='color:white'>UserName</label>
    <input type="text" name="username" placeholder="First Name">
  </div>
  <div class="field">
    <label style='color:white'>Password</label>
    <input type="password" name="password" placeholder="Last Name">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label style='color:white'>I agree to the Terms and Conditions</label>
    </div>
  </div>
</form>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui green ok inverted button" onclick='login()'>
      <i class="checkmark icon"></i>
      Login
    </div>
  </div>
</div>